In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
import pandas as pd
import numpy as np

base_path = "/content/drive/My Drive/Nigerian_Market_Data"

prices = pd.read_csv(f"{base_path}/nigerian_market_prices.csv.csv")
transactions = pd.read_csv(f"{base_path}/nigerian_market_transactions_assignment.csv")

In [4]:
import os

drive_path = "/content/drive/My Drive/Nigerian_Market_Data/"

if os.path.exists(drive_path):
    print(f"Contents of {drive_path}:")
    for item in os.listdir(drive_path):
        print(item)
else:
    print(f"The directory {drive_path} does not exist. Please check the path and ensure Google Drive is mounted correctly.")

Contents of /content/drive/My Drive/Nigerian_Market_Data/:
nigerian_market_prices.csv.csv
nigerian_market_transactions_assignment.csv

In [7]:
prices.head()
transactions.head()

,transaction_id,market_id,trader_id,trader_name,product,quantity,revenue,payment_method,transaction_date
0,TXN0001,MKT005,TR005,ALHAJI MUSA,Gari,8,86160,Transfer,2024-02-03 13:53
1,TXN0002,MKT004,TR001,SADIYA,Beans,14,492226,POS,2024-01-05 13:46
2,TXN0003,MKT002,TR006,ALHAJI MUSA,Tomatoes,8,283392,Transfer,2024-01-07 16:53
3,TXN0004,MKT003,TR001,Sadiya,Beans,13,248027,Transfer,2024-03-02 10:14
4,TXN0005,MKT005,TR002,Alhaji Musa,Rice,6,46302,Cash,2024-01-27 14:37

In [8]:
cleaned_data.to_csv(
    f"{base_path}/cleaned_market_data.csv",
    index=False
)

NameError: name 'cleaned_data' is not defined

In [9]:
# Example: Merge prices and transactions to create 'cleaned_data'
# Assuming 'market_id' and 'product' are common columns to merge on
cleaned_data = pd.merge(transactions, prices, on=['market_id', 'product'], how='left')

# Display the first few rows of the newly created cleaned_data DataFrame
display(cleaned_data.head())

,transaction_id,market_id,trader_id,trader_name_x,product,quantity,revenue,payment_method,transaction_date,market_name,state,price,unit,date,trader_name_y
0,TXN0001,MKT005,TR005,ALHAJI MUSA,Gari,8,86160,Transfer,2024-02-03 13:53,Ariaria Market,Abia,2976,basket,01-03-2024,BELLO
1,TXN0001,MKT005,TR005,ALHAJI MUSA,Gari,8,86160,Transfer,2024-02-03 13:53,Ariaria Market,Abia,"₦4,916",Basket,2024/01/11,bello
2,TXN0001,MKT005,TR005,ALHAJI MUSA,Gari,8,86160,Transfer,2024-02-03 13:53,Ariaria Market,Abia,"₦4,508",50kg,10-02-2024,bello
3,TXN0001,MKT005,TR005,ALHAJI MUSA,Gari,8,86160,Transfer,2024-02-03 13:53,Ariaria Market,Abia,1035,50kg,24/03/2024,sadiya
4,TXN0001,MKT005,TR005,ALHAJI MUSA,Gari,8,86160,Transfer,2024-02-03 13:53,Ariaria Market,Abia,NaN,basket,08-01-2024,sadiya